h1,h2,h3,h4,h5{
	font-family: 'Alfa Slab One', cursive;
}
div, p, ul, li {
	font-family: 'Gentium Book Basic', serif;
}

header { background: white; padding-bottom: 20px; }
.sign-up{
	margin-top: 27px;
}
.page-comingsoon{
	height: 100vh;
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: -80px;
	-webkit-transition: all 2s;
}

.team-member{
	text-align: center;
}

.team{
	margin: 0px 0px;
	position: relative;
	z-index: 10000;
	background: white;
}

.team-image{
	height: 200px;
	width: 200px;
	background-size: 100%;
	border-radius: 100px;
	background-position: center center;
	display: block;
	margin: 20px auto;
}

.filter-me {
	-webkit-filter: blur(10px);
  	filter: blur(10px);
  	-webkit-transition: all 2s;
}

#thehand { width: 500px; position: fixed; bottom: -590px; left: 500px; }